<!DOCTYPE html>
<html lang="ja-jp">
<HEAD>
<meta charset="UTF-8" />
<TITLE>暗記君</TITLE>
<div style="background:gray" >
    <img src="1.png" alt="暗記君" title="暗記君" width="1000px" />
</div>
<style type="text/css">
h1 {
    margin: 0;
    margin-left: 300px;
    font-size: 20pt;
}
h2 {
    margin: 0;
    margin-left: 600px;
    font-size: 20pt;
}
h3 {
    margin: 0;
    margin-left: 900px;
    font-size: 15pt;
}
h4 {
    margin: 0;
    margin-left: 1200px;
    font-size: 20pt;
}

</style>

<SCRIPT language="JavaScript">
<!--
// ツリーメニュー
flag = false;
function treeMenu(tName) {
  tMenu = document.all[tName].style;
  if(tMenu.display == 'none') tMenu.display = "block";
  else tMenu.display == "none";
}
//--> 
</SCRIPT>
<script language="JavaScript">
    function onRadioButtonChange() {
      check1 = document.form1.Radio1.checked;
      check2 = document.form1.Radio2.checked;
      check3 = document.form1.Radio3.checked;

      target = document.getElementById("output");

      if (check1 == true) {
          target.innerHTML = ;
        }
        else if (check2 == true) {
          target.innerHTML = "2";
        }
        else if (check3 == true) {
          target.innerHTML = "3";
        }
      }}
    }
</script>

</HEAD>

<BODY bgcolor="#ffffff">
<br /><br />
<div style="background:#e6e6fa" >
    <form method="post" th:action="@{/update/subject}">
      <!-- 
      <div th:each="subject : ${subjects}">
        <h1>
          <a href="javaScript:treeMenu('treeMenu1')">
            <input type="radio" name="radioSubject" th:value="${subject.id}" />
            <span th:text="${subject.name}"></span>
          </a>
        </h1>
      </div><br />
       -->

      <input type="text" name="subjectName" placeholder="名前" />
      <input type="submit" />
      
      
    </form>

    <div id="treeMenu1" style="display: block; background:#7fffd4">
         <form method="post" th:action="@{/update/sphere}">
           <div th:each="subject : ${subjects}">
             <h1>
               <input type="radio" name="radioSubject" th:value="${subject.id}" />
               <span th:text="${subject.name}"></span>
             </h1>
           </div><br />
          
          <form method="post" th:action="@{/update/sphere}">
           <div th:each="sphere : ${spheres}">
            <a href="javaScript:treeMenu('treeMenu2')">
                <h2>
                 <input type="radio" name="radioSphere" th:value="${sphere.id}" />
                 <span th:text="${sphere.name}"></span>
                </h2>
            </a>
            </div><br />

            <h2><input type="text" name="sphereName" placeholder="名前" />
            <!-- <input type="hidden" name="subjectName" th:value="subjectName" /> -->
            <input type="submit" /></h2> 
         </form>
        
        <div id="treeMenu2" style="display:none">
            <h3><a href="javaScript:treeMenu('treeMenu3')"><span th:text="${word}">word</span></a></h3>
            <form method="post" th:action="@{/form}">
                <h3><input type="text" name="word" placeholder="名前" />
                <input type="hidden" name="subject" th:value="${subject}" />
                <input type="hidden" name="sphere" th:value="${sphere}" />
                <input type="submit" /></h3>
            </form>
            <div id="treeMenu3" style="display:none ; text-align: center;">
                <h4><a href="javaScript:treeMenu('treeMenu3')"><span th:text="${mean}">mean</span></a></h4>
                <form method="post" th:action="@{/form}">
                    <h4><input type="text" name="mean" placeholder="名前" />
                    <input type="hidden" name="subject" th:value="${subject}" />
                    <input type="hidden" name="sphere" th:value="${sphere}" />
                    <input type="hidden" name="word" th:value="${word}" />
                    <input type="submit" /></h4>
                </form>
            </div>
        </div>
    </div>
</div>

</BODY>
</html>

