
<html lang="ja-jp">
<HEAD bgcolor="#d3d3d3">
<meta charset="UTF-8" />
<TITLE>暗記君</TITLE>

<div style="background:#d3d3d3" align="center"  >
    <img src="iii.png" alt="暗記君" title="暗記君" height="100px"/>
</div>


<style type="text/css">

h1 {
    margin-left: auto;
}
#toSphere {
overflow-y:scroll;
height: 400px;
word-break: break-all;

}
#toWord {
overflow-y:scroll;
height: 400px;
word-break: break-all;
}

#toMean {
overflow-y:scroll;
height: 400px;
word-break: break-all;
}
#displayMean {
word-break: break-all;
height: 400px;
}
</style>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"></link>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
 
    
</HEAD>

<BODY bgcolor="white">

<br /><br />
<div class="container-fluid" style="background:white; display: block">

  <div class="table-responsive"> <!-- class="table-responsive"  -->
    <div class="row">
      <table class="table table-striped">
        <tr >
          <th class="col-lg-3">
            <div  align="center">
              <form method="post" th:action="@{/update/subject}" class="form-inline">
                <input type="text" name="subjectName" placeholder="科目を入力"  required="required" maxlength="20" class="form-control" />
                <input type="submit"  class="btn btn-success" value="登録" />
              </form>
            </div>
          </th>
          <th class="col-lg-3"> 
            <div  align="center">
              <form method="post" th:action="@{/update/sphere}" class="form-inline">
                <input th:if="${currentSubject} != null" type="text" name="sphereName" placeholder="範囲を入力" required="required" maxlength="20" class="form-control" />
                <input th:if="${currentSubject} == null" type="text" name="sphereName" placeholder="範囲を入力" required="required" maxlength="20" class="form-control" disabled="disabled" />
                <input th:if="${currentSubject} != null" type="submit" class="btn btn-success" value="登録" />
                <input th:if="${currentSubject} == null" type="submit" class="btn btn-success" disabled="disabled" value="登録" />
                <input type="hidden" name="subjectNumber" th:value="${subjectNumber}"  />
              </form>
            </div>
          </th>
          <th class="col-lg-3"> 
            <div align="center">
              <form method="post" th:action="@{/update/word}" class="form-inline">
                <input th:if="${currentSphere} != null" type="text" name="wordName" placeholder="単語を入力" required="required" maxlength="30" class="form-control" />
                <input th:if="${currentSphere} == null" type="text" name="wordName" placeholder="単語を入力" required="required" maxlength="30" class="form-control" disabled="disabled" />
                <input th:if="${currentSphere} != null" type="submit" class="btn btn-success" value="登録" />
                <input th:if="${currentSphere} == null" type="submit" class="btn btn-success"  disabled="disabled"  value="登録"/>
                <input type="hidden" name="subjectNumber" th:value="${subjectNumber}" />
                <input type="hidden" name="sphereNumber" th:value="${sphereNumber}" />
              </form>
            </div>
          </th>
          <th class="col-lg-3">
            <div  align="center">
              <form method="post" th:action="@{/update/mean}" class="form-inline">
                <input type="hidden" name="subjectNumber" th:value="${subjectNumber}" />
                <input type="hidden" name="sphereNumber" th:value="${sphereNumber}" />
                <input type="hidden" name="wordNumber" th:value="${wordNumber}" />
                <input th:if="${currentWord} != null" type="text" name="mean" placeholder="意味を入力" required="required" maxlength="150" class="form-control" />
                <input th:if="${currentWord} == null" type="text" name="mean" placeholder="意味を入力" required="required" maxlength="150" class="form-control" disabled="disabled" />
                <input th:if="${currentWord} != null" type="submit" class="btn btn-success" value="登録" />
                <input th:if="${currentWord} == null" type="submit" class="btn btn-success" disabled="disabled" value="登録" />
              </form>
            </div>
          </th>
        </tr>
        <tr >
          <th class="col-lg-3">
            <div align="center">
              <h3>title</h3>
            </div>
          </th>
          <th class="col-lg-3">
            <div  align="center">
              <form method="post" th:action="@{/current/subject}" class="form-inline">
                <h3>
                <input type="hidden" name="subjectNumber" th:value="${subjectNumber}" />
                <span th:text="${currentSubject}"></span>
                <button th:if="${currentSubject} != null" type="submit" style="display:block" name="deleteSubject" th:value="${subjectNumber}" class="btn btn-default btn-xs">削除</button>
                <button th:if="${currentSubject} == null" type="submit" style="display:none" name="deleteSubject" th:value="${subjectNumber}" class="btn btn-default btn-xs">削除</button>
                <small><br/>
                  <span th:if="${currentSubject} != null" style="display:block">科目達成度
                    <span th:text="${countCheckedWords}"></span>/<span th:text="${countAllWords}"></span>
                  </span>
                </small>
                </h3>
              </form>
            </div>
          </th>
          <th class="col-lg-3">
            <div align="center">
              <form method="post" th:action="@{/current/sphere}" class="form-inline">
                <h3>
                <input type="hidden" name="subjectNumber" th:value="${subjectNumber}" />
                <input type="hidden" name="sphereNumber" th:value="${sphereNumber}" />
                  <span th:text="${currentSphere}"></span>
                  <button th:if="${currentSphere} != null" type="submit" style="display:block" name="deleteSphere" th:value="${sphereNumber}" class="btn btn-default btn-xs">削除</button>
                  <small><br/>
                    <span th:if="${currentSphere} != null" style="display:block">範囲別達成度
                      <span th:text="${countSphereCheckedWords}"></span>/<span th:text="${countSphereWords}"></span>
                    </span>
                  </small>
                 </h3>
               </form>
             </div>
            </th >
            <th class="col-lg-3">
              <div align="center">
                <form method="post" th:action="@{/current/word}">
                  <h3>
                  <input type="hidden" name="subjectNumber" th:value="${subjectNumber}" />
                  <input type="hidden" name="sphereNumber" th:value="${sphereNumber}" />
                  <input type="hidden" name="wordNumber" th:value="${wordNumber}" />
                  <span th:text="${currentWord}"></span>
                  <button th:if="${currentWord} != null" type="submit" style="display:block" name="deleteWord" th:value="${wordNumber}" class="btn btn-default btn-xs">削除</button>
                  </h3>
                </form>
              </div>
            </th>
        </tr>
        <tr>
          <th class="col-lg-3">
            <div  id="toSphere" align="center">
              <form method="post" th:action="@{/to/sphere}" class="form-inline" >
                <div th:each="subject : ${subjects}">
                  <h1>
                  <span th:text="${subject.name}"></span>
                  <button type="submit" class="btn btn-primary btn-xs" name="subjectNumber" th:value="${subject.number}" >next</button>
                  </h1>
                </div>
              </form>
            </div>
          </th>
          <th class="col-lg-3">
            <div id="toWord" align="center">
              <form method="post" th:action="@{/to/word}" class="form-inline">
                <input type="hidden" name="subjectNumber" th:value="${subjectNumber}" />
                <div th:each="sphere : ${spheres}">
                  <h2>
                  <span th:text="${sphere.name}"></span>
                  <button type="submit" class="btn btn-primary btn-xs" name="sphereNumber" th:value="${sphere.number}" >next</button>
                  </h2>
                </div>
              </form>
            </div>
          </th>
          <th class="col-lg-3">
            <div id="toMean" align="center" >
              <form method="post" th:action="@{/to/mean}" class="form-inline">
                <input type="hidden" name="subjectNumber" th:value="${subjectNumber}" />
                <input type="hidden" name="sphereNumber" th:value="${sphereNumber}" />
                <div th:each="word : ${words}"> 
                  <h2>
                  <input th:if="${word.checked} == true" type="checkbox" name="checkbox" disabled="disabled" checked="checked" />
                  <input th:if="${word.checked} != true" type="checkbox" name="checkbox" disabled="disabled"  />
                  <span th:text="${word.name}"></span>
                  <button type="submit" class="btn btn-primary btn-xs" name="wordNumber" th:value="${word.id}" >next</button>
                  </h2>
                </div> 
              </form>
            </div>
          </th>
          <th class="col-lg-3"> 
            <div id="displayMean" align="center">
              <form method="post" th:action="@{/display/mean}" class="form-inline">
                <input type="hidden" name="subjectNumber" th:value="${subjectNumber}" />
                <input type="hidden" name="sphereNumber" th:value="${sphereNumber}" />
                <input type="hidden" name="wordNumber" th:value="${wordNumber}" />
                <div th:each="mean : ${means}">
                  <h3>
                  <span th:text="${mean.mean}"></span>
                  </h3>
                  <br />
                  <div class="btn-group">
                    <button th:if="${mean.mean} != null" type="submit" style="display:block" name="checked" value="true" class="btn btn-default btn-xs">覚えた</button>
                    <button th:if="${mean.mean} == null" type="submit" style="display:none" name="checked" value="true" class="btn btn-default btn-xs">覚えた</button>
                    <button th:if="${mean.mean} != null" type="submit" style="display:block" name="checked" value="false" class="btn btn-default btn-xs">保留</button>
                    <button th:if="${mean.mean} == null" type="submit" style="display:none" name="checked" value="false" class="btn btn-default btn-xs">保留</button>
                  </div>
                </div>
              </form>
            </div>
          </th>
        </tr>
      </table>
    </div>
  </div>
</div>
  
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
    

</BODY>
</html>