<!DOCTYPE html>
<html lang="ja-jp">
<HEAD>
<meta charset="UTF-8" />
<TITLE>暗記君</TITLE>
<div style="background:gray" >
    <img src="1.png" alt="暗記君" title="暗記君" width="1000px" />
</div>
<style type="text/css">
h1 {
    margin: 0;
    margin-left: 300px;
    font-size: 20pt;
}
h2 {
    margin: 0;
    margin-left: 600px;
    font-size: 20pt;
}
h3 {
    margin: 0;
    margin-left: 900px;
    font-size: 15pt;
}
h4 {
    margin: 0;
    margin-left: 1200px;
    font-size: 20pt;
}

</style>

<SCRIPT language="JavaScript">
<!--
// ツリーメニュー
flag = false;
function treeMenu(tName) {
  tMenu = document.all[tName].style;
  if(tMenu.display == 'none') tMenu.display = "block";
  else tMenu.display == "none";
}
//--> 
</SCRIPT>
</HEAD>

<BODY bgcolor="#ffffff">
<br /><br />
<div style="background:#e6e6fa; display: block">
    <form method="post" th:action="@{/update/subject}">
      <input type="text" name="subjectName" placeholder="名前" />
      <input type="submit" />
    </form>

    <div id="treeMenu1" style="display: block; background:#7fffd4">
         <form method="post" th:action="@{/update/sphere}">
           <div th:each="subject : ${subjects}">

               <input type="radio" name="radioSubject" th:value="${subject.id}" />
               <span th:text="${subject.name}"></span>

           </div><br />
            <input type="text" name="sphereName" placeholder="名前" />
            <input type="submit" />
         </form>

         <div id="treeMenu2" style="display: block">

            <form method="post" th:action="@{/update/word}">

              <div th:each="sphere : ${spheres}">
                 <a href="javaScript:treeMenu('treeMenu2')"> 

                    <input type="radio" name="radioSphere" th:value="${sphere.number}" />
                    <span th:text="${sphere.name}"></span>

               </a> 
              </div><br />
              <input type="text" name="wordName" placeholder="名前" />
              <input type="submit" />
            </form>
            
          <div id ="treeMenu3" style="display: block">
            <form method="post" th:action="@{/update/mean}">
              <div th:each="word : ${words}">
                <a href="javaScript:treeMenu('treeMenu3')"> 
                    <input type="radio" name="radioWord" th:value="${word.number}" />
                    <span th:text="${word.name}"></span>
                </a> 
                    <input type="text" name="mean" placeholder="名前" />
                    <input type="submit" />
                    <a href="javaScript:treeMenu('treeMenu4')"> 
                    <span th:text="${word.mean}"></span> </a>



             </div>


              </form>
              
                
              </div>
          </div>
     </div>
</div>


</BODY>
</html>
