
<html lang="ja-jp">
<HEAD>
<meta charset="UTF-8" />
<TITLE>暗記君</TITLE>

<div style="background:#d3d3d3" align="center">
    <img src="iii.png" alt="暗記君" title="暗記君"/>
</div>
<style type="text/css">

h1 {
    margin-left: auto;
}
div.toWord {
overflow-y:scroll;
height: 300px;
}

div.toMean {
overflow-y:scroll;
height: 300px;
}
div.displayMean {
overflow-y:scroll;
height: 300px;
}
</style>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"></link>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</HEAD>

<BODY bgcolor="honeydew">
<br /><br />
<div class="container-fluid" style="background:white; display: block">
<div class="table-responsive">
  <table class="table table-striped">
    <tr>
      <th>
        <div align="center">
          <form method="post" th:action="@{/update/subject}">
            <input type="text" name="subjectName" placeholder="科目を入力" />
            <input type="submit" />
          </form>
        </div>
      </th>
      <th>
        <div align="center">
          <form method="post" th:action="@{/update/sphere}">
            <input type="text" name="sphereName" placeholder="範囲を入力"/>
            <input type="submit" />
            <input type="hidden" name="subjectNumber" th:value="${subjectNumber}" />
          </form>
        </div>
      </th>
      <th>
        <div align="center">
          <form method="post" th:action="@{/update/word}">
            <input type="text" name="wordName" placeholder="単語を入力" />
            <input type="submit" />
            <input type="hidden" name="subjectNumber" th:value="${subjectNumber}" />
            <input type="hidden" name="sphereNumber" th:value="${sphereNumber}" />
          </form>
        </div>
      </th>
      <th>
        <div align="center">
          <form method="post" th:action="@{/update/mean}">
            <input type="hidden" name="subjectNumber" th:value="${subjectNumber}" />
            <input type="hidden" name="sphereNumber" th:value="${sphereNumber}" />
            <input type="hidden" name="selectWord" th:value="${selectWord}" />
            <input type="text" name="mean" placeholder="意味を入力" />
            <input type="submit" />
          </form>
        </div>
      </th>
    </tr>
    <tr>
        <th>
          <div align="center">
            <h3>title</h3>
          </div>
        </th>
        <th>
          <div align="center">
            <form method="post" th:action="@{/current/subject}">
              <h3>
              <input type="hidden" name="subjectNumber" th:value="${subjectNumber}" />
              <span th:text="${currentSubject}"></span>
              </h3>
            </form>
          </div>
        </th>
        <th>
          <div align="center">
            <form method="post" th:action="@{/current/sphere}">
              <h3>
              <input type="hidden" name="subjectNumber" th:value="${subjectNumber}" />
              <input type="hidden" name="sphereNumber" th:value="${sphereNumber}" />
              <span th:text="${currentSphere}"></span>
              </h3>
            </form>
          </div>
        </th>
        <th>
          <div align="center">
            <form method="post" th:action="@{/current/word}">
              <h3>
              <input type="hidden" name="subjectNumber" th:value="${subjectNumber}" />
              <input type="hidden" name="sphereNumber" th:value="${sphereNumber}" />
              <input type="hidden" name="selectWord" th:value="${selectWord}" />
              <span th:text="${currentWord}"></span>
              </h3>
            </form>
          </div>
        </th>
    </tr>
    <tr>
      <th>
        <div align="center">
          <form method="post" th:action="@{/to/sphere}">
              <div th:each="subject : ${subjects}">
                <span th:text="${subject.name}"></span>
                <h1><button type="submit" class="btn btn-primary btn-xs" name="subjectNumber" th:value="${subject.number}" >next</button></h1>
              </div>
          </form>
        </div>
      </th>
      <th>
        <div class="toWord" align="center">
          <form method="post" th:action="@{/to/word}">
            <input type="hidden" name="subjectNumber" th:value="${subjectNumber}" />
            <div th:each="sphere : ${spheres}">
              <span th:text="${sphere.name}"></span>
              <h1><button type="submit" class="btn btn-primary btn-xs" name="sphereNumber" th:value="${sphere.number}" >next</button></h1>
            </div>
          </form>
        </div>
      </th>
      <th>
        <div class="toMean" align="center" >
          <form method="post" th:action="@{/to/mean}">
            <input type="hidden" name="subjectNumber" th:value="${subjectNumber}" />
            <input type="hidden" name="sphereNumber" th:value="${sphereNumber}" />
            <div th:each="word : ${words}"> 
              <span th:text="${word.name}"></span>
              <h1><button type="submit" class="btn btn-primary btn-xs" name="selectWord" th:value="${word.name}" >next</button></h1>
            </div> 
          </form>
        </div>
      </th>
      <th>
        <div class="displayMean" align="center">
          <form method="post" th:action="@{/display/mean}">
            <input type="hidden" name="subjectNumber" th:value="${subjectNumber}" />
            <input type="hidden" name="sphereNumber" th:value="${sphereNumber}" />
            <input type="hidden" name="selectWord" th:value="${selectWord}" />  
            <span th:text="${mean}"></span>
          </form>
        </div>
      </th>
    </tr>
  </table>
</div>
</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
    

</BODY>
</html>