<!DOCTYPE html>
<html lang="ja-jp">

<head>
<meta charset="UTF-8" />
<TITLE>暗記君</TITLE>

<style type="text/css">
    ul {
 margin: 0;
 margin-left: 50px;
 padding: 0 0 0 0;
}
 
li {
 margin-left: 50px;
 list-style-position: outside;
 list-style-type: none;
 font-size: 20pt;
}
 
 li.reaf {
  list-style-image: none;
  cursor: pointer;
 }
 
 li.collapse {
  list-style-image: none;
 }
 
 li.expand {
  list-style-image: none;
 }
 
 li.reaf > li, li.collapse > ul {
 
  display: none;
 }
 
 li.expand > ul {
  display: block;
 }</style>

 <script type="text/javascript">
 function ClickEvent() {
	  var sender = event.srcElement || event.target;
	  if (sender.nodeName == "LI") {
	    var clist = sender.classList;
	    if (clist.contains("collapse")) {
	      clist.toggle("expand");
	    }
	  }
	  console.log("check");
	}
 </script>

<div style="background:gray" >
    <img src="1.png" alt="暗記君" title="暗記君" width="1000px" />
</div>


</head>

<body>
<ul id="TreeView1" onclick="ClickEvent();">
  <li class="reaf collapse expand">
    <span>Node1</span>
        
    <ul>
      <li class="reaf collapse expand">
        <span th:text="${name11}">Node1-1</span>
        <ul>
          <li class="reaf collapse expand">
            <span>Node1-1-1</span>
            <ul>
                <li class="reaf">
                    <span>Node1-1-1-1</span>
                        <ul></ul></li>
            </ul>
          </li>
          <li class="reaf collapse expand">
            <span>Node1-1-2</span>
            <ul>
                <li class="reaf">
                    <span>Node1-1-2-1</span>
                        <ul></ul>
                </li>
            </ul>
          </li>
        </ul>
     </li>
      <li class="reaf collapse expand">
        <span><button type="button" onclick="alert('OK')">追加</button></span>
        <ul>
       <!-- <li class="reaf collapse expand">
            <span>Node2-1-1</span>
            <ul>
                <li class="reaf">
                    <span>Node2-1-1-1</span>
                        <ul></ul></li>
            </ul>
          </li>
          <li class="reaf collapse expand">
            <span>Node2-1-2</span>
            <ul>
                <li class="reaf">
                    <span>Node2-1-2-1</span>
                        <ul></ul>
                </li>
            </ul>
          </li>-->
        </ul>
     </li>
  </ul>
  </li>
  </ul>
  
<form method="get" th:action="@{/form}">
       
        <input type="text" name="name11" placeholder="名前" />
        <input type="submit" />
        </form>
  
  
</body>
</html>
